<h1><%= @attendance_edit %></h1>

<div class='row'>
  <div class='margin-b-10'>
    <%= link_to '勤怠ページに戻る', { controller: 'users', action: 'show', id: params[:id], q: @query.to_i }, class: 'btn btn-primary btn-font-color' %>
  </div>
  
  <div class='margin-b-10'>
    <%= link_to '前月へ', "/attendance_edit/#{params[:id]}?q=#{@query.to_i-1}", class: 'btn btn-primary btn-font-color' %>
    <%= @target_date.year %>年<%= @target_date.month %>月　時間管理表
    <%= link_to '翌月へ', "/attendance_edit/#{params[:id]}?q=#{@query.to_i+1}", class: 'btn btn-primary btn-font-color' %>
  </div>
  
  <%= form_for @user, url: attendance_save_path do |f| %>
    <table class='table-design margin-b-10'>
      <tbody>
        <tr>
          <th class='width-5'>日付</th>
          <th class='width-5'>曜日</th>
          <th class='width-20'>出勤</th>
          <th class='width-20'>退勤</th>
          <th>備考</th>
        </tr>

        <% @shift.each do |shift| %>
          <tr>
            <td class='width-5'><%= shift.date.to_date.strftime('%-m/%-d') %></td>
            <td class='width-5'><%= @wday[shift.date.to_date.wday] %></td>
           
            <%= fields_for 'shifts[]', shift do |s| %>
              <td class='width-20 padding-a-5'><%= s.time_field :start_time, value: s.object.start_time, class: 'form-control height_i margin-n' %></td>
              <td class='width-20 padding-a-5'><%= s.time_field :end_time, value: s.object.end_time, class: 'form-control height_i margin-n' %></td>
            <% end %>
            
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <%= f.hidden_field :user_id, value: @user.id %>
    
    <div class='margin-b-10 padding-l-15'>
      <div class='width-49 inline-block padding-r-10 padding-l-10'>
        <%= link_to 'キャンセル', { controller: 'users', action: 'show', id: params[:id] }, class: 'btn btn-primary width-100 btn-font-color' %>
      </div>
      <div class='width-49 inline-block padding-r-10 padding-l-10'>
        <%= f.submit '保存する', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
<br>
