<h1><%= @attendance_edit %></h1>

<div class="row">
  <div class="">
    <button type="button"><%= link_to "勤怠ページに戻る", controller: "users", action: "show", id: params[:id] %></button>
  </div>
  
  <div class="">
    <button type="button"><%= link_to "前月へ", "/attendance_edit/#{params[:id]}?q=#{@query.to_i-1}" %></button>
      <%= @target_date.year %>年<%= @target_date.month %>月　時間管理表
    <button type="button"><%= link_to "翌月へ", "/attendance_edit/#{params[:id]}?q=#{@query.to_i+1}" %></button>
  </div>
  
  <%#= form_for @shifts, url: attendance_save_path do |f| %>
  <%= form_tag({ :controller => 'users', :action => 'attendance_save' }, { :method => :get, :id => 'sample'}) do %>
    <table class="table-design">
      <tbody>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>出勤</th>
          <th>退勤</th>
          <th>備考</th>
        </tr>
        
        <% @list_months.each do |day| %>
          <tr>
            <td><%= day[:date] %></td>
            <td><%= day[:wday] %></td>
            <!--<td><%#= f.select :start_time, @time_list,  prompt: '--:--:--', class: 'form-control' %></td>-->
            <td><%= select_tag 'shift[start_time]', options_for_select(@time_list), prompt: '--:--:--', class: 'form-control' %></td>
            <!--<td><%#= f.select :end_time, @time_list,  prompt: '---:--:--', class: 'form-control' %></td>-->
            <td><%= select_tag 'shift[end_time]', options_for_select(@time_list), prompt: '--:--:--', class: 'form-control' %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <button type="button"><%= link_to "キャンセル", controller: "users", action: "show", id: params[:id] %></button>
    <%#= f.submit "保存する", class: "btn btn-primary" %>
  <% end %>
  
</div>
<br>

<div class="col-md-8">
</div>