<% provide(:title, 'Edit user') %>
<h1><%= @user.name %>の基本情報の更新</h1>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :designation_work_hours, '指定勤務時間' %>
      <%= f.select :designation_work_hours, @hour_list,  prompt: '--', class: 'form-control' %>
      
      <%= f.label :besic_work_hours, '基本時間' %>
      <%= f.select :besic_work_hours, @hour_list,  prompt: '--', class: 'form-control' %>
      
      <%= f.hidden_field :from, value: @from %>
      
      <%= f.submit '更新する', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>