<% provide(:title, @user.name) %>

<div class='row'>
  <aside class='col-md-4'>
    <section>
      <h1>
        <%= gravatar_for @user %>
        氏名　<%= @user.name %><br>
        所属　<%= @user.affiliation %>
      </h1>
    </section>
  </aside>
  
  <table class='margin-b-10'>
    <tr>
      <th class='width-20'>出勤日数</th>
      <th class='width-20'>指定勤務時間</th>
      <th class='width-20'>基本時間</th>
      <th class='width-20'>初日</th>
      <th class='width-20'>締め</th>
    </tr>
    <tr>
      <td class='width-20'><%= @total_days %>日</td>
      <td class='width-20'>
        <%= @user[:designation_work_hours].present? ? @user[:designation_work_hours] + '時間': '未設定'; %>
      </td>
      <td class='width-20'>
        <%= @user[:besic_work_hours].present? ? @user[:besic_work_hours] + '時間': '未設定'; %>
      </td>
      <td class='width-20'><%= @target_date.month %>/1</td>
      <td class='width-20'><%= @target_date.month %>/<%= @end_day %></td>
    </tr>
  </table>

  <% if @today.to_date.strftime('%-m') >= @target_date.strftime('%-m') %>
    <div class='margin-b-10'>
      <%= link_to '勤怠を編集', { controller: 'users', action: 'attendance_edit', id: params[:id], q: @query.to_i }, class: 'btn btn-primary btn-font-color' %>
    </div>
  <% end %>
    
  <div class='margin-b-10'>
    <%= link_to '前月へ', "/users/#{params[:id]}?q=#{@query.to_i - 1}", class: 'btn btn-primary btn-font-color' %>
    <%= @target_date.year %>年<%= @target_date.month %>月　時間管理表
    <%= link_to '翌月へ', "/users/#{params[:id]}?q=#{@query.to_i + 1}", class: 'btn btn-primary btn-font-color' %>
  </div>
  
  <%# 勤怠表 ここから=============================================================== %>
  <table class='table-design'>
    <tr>
      <th class='width-5'>日付</th>
      <th class='width-5'>曜日</th>
      <th class='width-12'>出社時間</th>
      <th class='width-7'></th>
      <th class='width-12'>退社時間</th>
      <th class='width-7'></th>
      <th class='width-12'>勤務時間</th>
      <th class='width-'>備考</th>
    </tr>
    <% @list_months.each do |day| %>
      <% @total_time += day[:work_hours].to_f %>
      <tr>
        <td class='width-5'><%= day[:date].to_date.strftime('%-m/%-d') %></td>
        <td class='width-5'><%= day[:wday] %></td>
        <td class='width-12'><%= day[:start_time] %></td>
        <td class='width-7'>
          <% if day[:is_clock_in] === 1 %>
            <%= link_to '出社', clock_in_path(user_id: params[:id]), class: 'btn btn-primary padding-tb-2 padding-rl-20' %>
          <% end %>
        </td>
        <td class='width-12'><%= day[:end_time] %></td>
        <td class='width-7'>
          <% if day[:is_clock_out] === 1 %>
            <%= link_to '退社', clock_out_path(user_id: params[:id]), class: 'btn btn-primary padding-tb-2 padding-rl-20' %>
          <% end %>
        </td>
        <td class='width-12'><%= day[:work_hours] === nil ? '' : "#{day[:work_hours]}時間" %></td>
        <td class='width-'></td>
      </tr>
    <% end %>
    
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>勤務時間の合計</td>
      <td><%= @total_time.round(1) %>時間</td>
      <td></td>
    </tr>
  </table>
  <%# 勤怠表 ここまで=============================================================== %>
</div>
<br>
