<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if logged_in? %>
      <%= link_to '勤怠管理システム', current_user, id: 'logo' %>
    <% else %>
      <%= link_to '勤怠管理システム', { controller: 'static_pages', action: 'home' }, id: 'logo' %>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "トップ", current_user %></li>
          
          <% if @is_admin %>
            <li><%= link_to 'ユーザーリスト', users_path %></li>
            <li>
              <%= link_to '基本時間設定', controller: 'users', action: 'besic_info', id: @login_user.id, from: 'h' %>
            </li>
          <% end %>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to '設定', edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'ログイン', login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>